[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
# Set default charset
charset = utf-8
trim_trailing_whitespace = true
indent_size = 2

# Custom Coding Styles for Java files
[*.{java,py}]
indent_style = tab
indent_size = 4
